.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  height: 100%;
  justify-content: space-between;
}

.pealkiri {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 30%;
  background-color: bisque;
  font-size: 5rem;
  color: darkslategray;
}

@media screen and (width < 700px) {
  .pealkiri {
    font-size: 2rem;
  }
}

.kell-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  width: 40%;
  padding-top: 1em;
  background-color: bisque;
  border-top-right-radius: 0.7rem;
  box-shadow: -1px 0px 12px gray;
}

.kell {
  margin-left: 1em;
  font-size: 30px;
}
