

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.mmp_konspektNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(106, 150, 148);
  border-radius: 10%;
}

.mmp_psystemNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(106, 150, 123);
  border-radius: 10%;
}

.mmp_ajakavaNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(137, 150, 106);
  border-radius: 10%;
}

.tagasiNupp {
  position: fixed;
  cursor: pointer;
  text-align: center;
  font-size: 30px;

  width: 150px;
  height: 70px;
  border: 3px solid rgb(0, 0, 0);

  background-color: rgb(248, 145, 185);
  border-radius: 10%;
}

.prog_konspektNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(194, 209, 125);
  border-radius: 10%;
}

.prog_üldinfoNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(199, 130, 187);
  border-radius: 10%;
}

.km_konspektNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(185, 221, 152);
  border-radius: 10%;
}

.km_psystemNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(121, 145, 197);
  border-radius: 10%;
}

.km_ajakavaNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(212, 168, 132);
  border-radius: 10%;
}

.aar_üldinfoNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(143, 136, 247);
  border-radius: 10%;
}

.aar_kohvipraksNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 550px;
  height: 200px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(212, 132, 132);
  border-radius: 10%;
}

.se_punktidNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 300px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(221, 66, 66);
  border-radius: 10%;
}

.se_üldinfoNupp {
  top: -200px;
  left: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 70px;

  width: 300px;
  height: 100px;
  border: 5px solid rgb(0, 0, 0);

  background-color: rgb(132, 212, 163);
  border-radius: 10%;
}
